{% extends 'HexmediaAdministratorBundle:Layout:edit.html.twig' %}

{% block title %}{{ 'Add page'|trans }}{% endblock title %}

{% block body -%}
    {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' } }) }}
    <div class="buttons-bar">
        {%  include "HexmediaAdministratorBundle:Form:buttons.html.twig" with {'form' : form, 'exit': 'HexMediaContentPage'} only %}
    </div>
    <div class="row">
        <div class="col-md-8">
            {% form_theme form "HexmediaContentBundle:AdminPage:translations.html.twig" %}
            {{ form_widget(form.translations) }}
        </div>
        <div class="col-md-4">
            <fieldset class="box">
                <legend>{{ 'Publication'|trans }}</legend>
                {{ form_row(form.published) }}
                {{ form_row(form.publishedFrom) }}
                {{ form_row(form.publishedTo) }}
            </fieldset>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
