{% extends 'HexmediaAdministratorBundle:Layout:edit.html.twig' %}

{% block title %}{{ 'Add page'|trans }}{% endblock title %}

{% block body -%}
    {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' } }) }}
    <div class="buttons-bar">
        {%  include "HexmediaAdministratorBundle:Form:buttons.html.twig" with {'form' : form, 'exit': 'HexMediaContentPage'} only %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <fieldset class="box main-content">
                <legend>{{ 'SEO'|trans }}</legend>
                {{ form_row(form.seoTitle) }}
                {{ form_row(form.seoKeywords) }}
                {{ form_row(form.seoDescription) }}
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="box">
                <legend>{{ 'Publication'|trans }}</legend>
                {{ form_row(form.published) }}
                {{ form_row(form.publishedFrom) }}
                {{ form_row(form.publishedTo) }}
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset class="box main-content-full">
                <legend>{{ 'Content'|trans }}</legend>

                <label>{{ 'Teaser'|trans }}</label>
                {{ form_widget(form.teaser) }}

                <label>{{ 'Content'|trans }}</label>
                {{ form_widget(form.content) }}

            </fieldset>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
