{% extends 'HexmediaAdministratorBundle:Layout:main.html.twig' %}

{% block title %}Slider Creation{% endblock title %}

{% block head_script %}
    {% javascripts filter="?yui_js" output='js/slider-edit.js'
    '@HexmediaAdministratorBundle/Resources/public/js/bootstrap-datepicker.js'
    '@HexmediaAdministratorBundle/Resources/public/js/lib/raptor.js'
    '@HexmediaAdministratorBundle/Resources/public/js/raptor-textarea.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block head_style %}
    {% stylesheets filter='assetsurl,less,?yui_css' output='css/slider-edit.css'
    '@HexmediaAdministratorBundle/Resources/public/css/raptor.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' } }) }}
    <div class="buttons-bar">
        <a class="btn btn-warning" href="{{ path('HexMediaContentSlider') }}"
           title="{{ 'Exit without edit'|trans }}">{{ 'Exit'|trans }}</a>
        {{ form_widget(form.saveAndExit) }}
        {{ form_widget(form.save) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.name) }}
        </div>
    </div>
    {# FIXME: Need to add this, and save it somewhere
    <div class="row">
        <div class="col-md-12">
            {{ render(controller('HexmediaContentBundle:Slide:list', {'sliderId' : 1})) }}
        </div>
    </div>#}

    {{ form_end(form) }}
{% endblock %}
