{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Slider list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Published</th>
                <th>Publishedfrom</th>
                <th>Publishedto</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Slug</th>
                <th>Sort</th>
                <th>Createdby</th>
                <th>Updatedby</th>
                <th>Deletedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('slider_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.published }}</td>
                <td>{% if entity.publishedFrom %}{{ entity.publishedFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.publishedTo %}{{ entity.publishedTo|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.sort }}</td>
                <td>{{ entity.createdBy }}</td>
                <td>{{ entity.updatedBy }}</td>
                <td>{{ entity.deletedBy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('slider_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('slider_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('slider_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
