{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Slider</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ entity.published }}</td>
            </tr>
            <tr>
                <th>Publishedfrom</th>
                <td>{{ entity.publishedFrom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Publishedto</th>
                <td>{{ entity.publishedTo|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ entity.sort }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
            <tr>
                <th>Deletedby</th>
                <td>{{ entity.deletedBy }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('slider') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('slider_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
