{% block media_widget %}
    {% spaceless %}
        {% set type='hidden' %}
        <div class="media-selector">
            {{ block('form_widget_simple') }}
            {% if value and value is not empty %}
                {% if preview is defined %}
                    <img src="{{ vich_uploader_asset(entity, 'file')|imagine_filter(preview) }}" alt="{{ entity.name }}" data-media-image="{{ id }}"/> <br/>
                    <a href="{{ path('HexMediaContentMediaAttach', {'type':'image'}) }}" onclick="return false;" data-modal-class="media" data-media-modal="true" data-media-id="{{ id }}"
                       class="btn btn-primary select-image">
                        <i class="icon-picture"></i> {{ change_label|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('HexMediaContentMediaAttach', {'type':'image'}) }}" onclick="return false;" data-modal-class="media" data-media-modal="true" data-media-id="{{ id }}"
                       class="btn btn-primary select-image">
                        <i class="icon-picture"></i> {{ change_label|trans }}
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ path('HexMediaContentMediaAttach', {'type':'image'}) }}" onclick="return false;" data-modal-class="media" data-media-modal="true" data-media-id="{{ id }}"
                   class="btn btn-primary select-image">
                    <i class="icon-picture"></i> {{ select_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}